

:root{
    scroll-behavior: smooth;
    --primary: #4154f1;
    --second: #717ff5;
    --bgColor: #f6f9ff;
}




body{
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    background: var(--bgColor);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
  }

a{
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: var(--second);
    text-decoration: none;
} 

h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}


.card{
    margin-bottom: 30px;
    bottom: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1,41,112,0.10);
}

.card-header,
.card-footer{
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title{
    padding: 20px 0 15px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
}

.card-title span{
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body{
    padding: 0 20px 20px 20px;
}

.card-img-overlay{
    background-color: rgba(255,255,255,0.6);
}